@font-face {
    font-family: 'Software Tester 7';
    src: url('SoftwareTester7.woff2') format('woff2'),
        url('SoftwareTester7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

