
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #D9B38D;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.blur::after{
    position: absolute;
    left: 0;
    top: 0;

    content: '';
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: .3;
}
.create-btn{
    padding: 10px;

    border: none;
    padding: none;
    border-radius: 4px;
    background-color: green;
    color: white;
}
.create-btn:hover{
    background-color: rgb(0, 94, 0);
}
.note-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-top: 30px;
}
.note-list__item{
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
    /* Chữ quá dài từ break chữ để xuống dòng */
    overflow-wrap: break-word;
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
    background-color: yellow;
}
.add-note{
    position: fixed;
    left: 50%;
    top: 25%;
    z-index: 9999;

    height: 275px;
    width: 275px;

    transform:translateX(-50%);
}
.add-note__input{
    position: absolute;
    top: 0;
    left: 0;

    height: inherit;
    width: inherit;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;


    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0 4px 6px 2px black;

    font-family: inherit;
    font-size: 20px;
    color: gray;
    resize: none;
}
.add-note__control{
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px;
}
.add-note__btn{
    cursor: pointer;
    color: gray;
    font-size: 20px;
    transition: all .2s linear;
}
.add-note__btn:hover{
    color: lightgray;
}